.navbar {
    background-color: #6F4E37 !important;
    font-weight: bold;
}

body {
    background-color: #FAF9F6;
}

.pagebreak {
    background-color: #6F4E37;
    /*padding: 5em 0 5em 0;*/
}

.dd-coding, icon {
    height: 50px;
    width: 50px;
}